
  /* Estilos para la tarjeta */
  .card {
    width: 150px;
    height: 320px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #2e2e2e; /* gris oscuro para el fondo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  .card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Negro para el título */
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 16px;
    color: #000000; /* Negro para el texto */
    margin-bottom: 10px;
  }
  
  .card-poster {
    width: 100%;
    border-radius: 5px;
  }
  
  .imgcard{
    width: 150px;
    height: 200px; /* Ajusta el tamaño de la imagen al ancho de la tarjeta */
    
}

/* estilos para el boton de favoritos de agregar y sacar */
.btnplayingcard{
  width: 80px;
  height: 40px;
  background-color:#615e5e;
  font-weight: bold;
  /* faltaria centrarlo */
}
  