header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 50px;
    border: 0%;
    background-color: #1c1c1c;
    justify-content: space-between;
}

.headerIzquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.headerDerecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    height: 90%;
    margin-right: 1%;
}

.nombrepagina{
    text-decoration: none;
}

.linksHeader{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.logoHeader{
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
    justify-self: flex-start;
    height: 80px;
}

h2{
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    text-decoration: none;
}

.linkfavoritos{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    /* background-color: #2C5364; */
    /* border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%; */
}

.linkgeneros{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background-color: #2C5364;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.inputbusqueda{
    background-color: white;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;

}

.submitbtn{
    background-color:#2C5364;
    color: white;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;
}
